/* HEADER SECTION */

@media only screen and (max-width: 420px) {
    header {
        height: 200px;
    }
    header hgroup {
        width: 200px;
        top: 15%;
    }
    hgroup h1 {
        font-size: 2em;
    }
    hgroup h2 {
        font-size: 1em;
    }
    hgroup h1::after {
        width: 200px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 600px) {
    header {
        height: 270px;
    }
    header hgroup {
        width: 400px;
        top: 10%;
    }
    hgroup h1 {
        font-size: 5em;
    }
    hgroup h2 {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 930px) {
    header {
        height: 350px;
    }
    header hgroup {
        top: 10%;
    }
}

@media only screen and (min-width: 930px) and (max-width: 1024px) {
    header {
        height: 600px;
    }
    header hgroup {
        top: 35%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    header {
        height: 800px;
    }
    header hgroup {
        top: 35%;
    }
}


/* menu section inside header */

@media only screen and (max-width: 500px) {
    .navbar {
        height: 20px;
        margin: 0 auto;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px 0;
        background-color: rgba(224, 183, 139, 0.9);
    }
    nav li {
        margin: 0 10px;
    }
    nav a {
        font-size: 1em;
        padding-bottom: 3px;
    }
    .navbar .logo,
    .socialMediaIcon {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 930px) {
    .navbar {
        height: 30px;
        margin: 0 auto;
        top: 0;
        right: 0;
        left: 0;
        padding: 20px 0;
        background-color: rgba(224, 183, 139, 0.9);
    }
    nav li {
        margin: 0 30px;
    }
    nav a {
        padding-bottom: 5px;
    }
    .navbar .logo,
    .socialMediaIcon {
        display: none;
    }
}


/* ABOUT US SECTION */

@media only screen and (max-width: 1024px) {
    .about {
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }
    .textAboutUs h2 {
        margin-top: 20px;
    }
    .textAboutUs h2::after {
        height: 20px;
    }
}


/* gallery section inside About Us */

@media only screen and (max-width: 400px) {
    .gallery {
        width: 225px;
    }
    .gallery img {
        width: 75px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 550px) {
    .gallery {
        width: 390px;
    }
    .gallery img {
        width: 130px;
    }
}


/* text section inside About Us */

@media only screen and (max-width: 430px) {
    .textAboutUs h2 {
        font-size: 1.8em;
        text-align: center;
    }
    .textAboutUs h2::after {
        width: 200px;
    }
    .textAboutUs p {
        font-size: 1.1em;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .textAboutUs h2 {
        text-align: center;
    }
    .textAboutUs p {
        padding: 10px 0 0 0;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .textAboutUs h2 {
        text-align: center;
    }
    .textAboutUs p {
        width: 500px;
        text-align: center;
    }
}


/* MENU SECTION */

@media only screen and (max-width: 825px) {
    .menu {
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu hgroup {
        margin-bottom: 10px;
    }
    .menu span {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .menu button {
        margin: 10px 30px;
        padding: 10px 30px;
        width: 200px;
    }
}


/* FOOTER SECTION */

@media only screen and (max-width: 590px) {
    footer {
        border: none;
        padding: 0;
    }
    footer img,
    .copy {
        display: none;
    }
    .open,
    address {
        width: 100%;
        padding: 0 10px;
        font-size: 0.8em;
        text-align: center;
    }
}

@media only screen and (min-width: 590px) and (max-width: 724px) {
    footer img {
        width: 120px;
    }
    footer {
        padding: 0 20px;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1124px) {
    footer::after {
        display: none;
    }
    footer {
        width: 90%;
        top: 30px;
    }
}